<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"><img src="../images/logo.png" /> {{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>Gary Robson</li>
          <li>11185 N Highway 32</li>
          <li>Felt, ID 83424</li>
          <li>&nbsp;</li>
          <li><a href="tel:+12084562805">208-456-2805</a></li>
          <li><a href="tel:+18007172513">800-717-2513</a></li>
          <li>&nbsp;</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>


      <div class="footer-col  footer-col-2">
        <p>
          All operations performed by Robson Outfitters, LLC, are authorized under special use permit by the
          Caribou-Targhee National Forest. All operations are operated on a non-discriminatory basis.
        </p>
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
